<!DOCTYPE html>
<html>
<head>
  <title>MongoDB Web App</title>
</head>
<body>
<!-- Use EJS to print out our data-->
  
  <% for (var i = 0; i < data.length; i++) {%>
    <p> <%= data[i].name %> </p>
  <% } %>
  
</body>
</html>